<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="addd()">Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="website-listing shaprater newslist" *ngIf="speakers && speakers.length>0">
    <ion-row *ngFor="let speaker of speakers">
      <ion-col col-3>
        <ion-card class="drive">
          <span>
            <img [src]="speaker.profilePic"> {{speaker.title}}
          </span>
        </ion-card>
      </ion-col>
      <ion-col col-9>
        <ion-row class="scroll-enable">
          <ion-col *ngFor="let speakerlist of speakers">
            <ion-card class="drive">
              <span>
                <img [src]="speakerlist.profilePic"> {{speaker.title}}
              </span>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </div>
</ion-content>